.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.border-red{
    border: 2px solid red;
    margin: 5px;
}
.bg-black{
    background-color:black;
    color: white;
}
.bg-grey{
    background-color: #121212;
    color: white;
}
.trans{
    background-color: transparent;
}
.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m1{
    margin: 5px;
}

.p1{
    padding: 15px;
}

/* For webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #666; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* For Firefox */
  /* Note: Firefox supports scrollbar-color property for scrollbar color but not for scrollbar width */
  /* To achieve consistency, you may want to use the same styles for Firefox as for webkit */
  * {
    scrollbar-color: #666 #333; /* Thumb and Track color */
  }
  